@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.mainChildren::-webkit-scrollbar {
    display: none;
}

* {
    transition: all 0.3s ease-in-out;
  }